.section1 {
	background-color: ;
}

.section2 {
	background-color: #054553;
}

.section3 {
	background-color: #054553;
}


.section4 {
	background-color: #054553;
}


.card, .crad-img-top {
	border-radius: 0;
}

.crad {
	border:0;
}


